// styles/core-services.scss
@use 'variables' as *;
@use 'animations' as *;
@use 'sass:color';
@use "mastors-fluider" as *;


.core-services {
    // background-color: $accent-color;
    padding-bottom: 10rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
}