// styles/variables.scss
$primary-color: #2F9394;
$secondary-color: #0d7fe2;
$white: #fff;
$black: #202020;
$gray: #EEEEEE;
$dark: #777777;
$hightDark: #5f5f5f;
$border: #eeeeee;

// Z-INDEX
$z-max: 10;
$z-ground: -1;
$z-down: -2;
$z-0: 0;
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-6: 6;
$z-7: 7;
$z-8: 8;

// GRADIENT
$hero-gradient: linear-gradient(to right,
        #1D283A 0%,
        #243A5D 50%,
        #152B50 100%);