// styles/navs.scss
@use 'variables' as *;
@use 'animations' as *;
@use 'sass:color';


.hero-section-container {
    position: relative;
    display: block;
    background: $hero-gradient;
    width: 100%;
    height: 100dvh;
    z-index: $z-1;

    .hero-section {
        position: absolute;
        width: inherit;
        height: inherit;
        pointer-events: none;
        overflow: hidden;
        z-index: $z-1;

        .shape {
            position: absolute;
            top: -3rem;
            height: inherit;
            pointer-events: none;

            // SHAPE-1
            &.shape-1 {
                z-index: $z-5;
                left: -3.5rem;
                animation: shapeAnimation 0.8s forwards;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-2
            &.shape-2 {
                z-index: $z-4;
                left: -3rem;
                animation: shapeAnimation 1.2s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-3
            &.shape-3 {
                z-index: $z-3;
                left: -3rem;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                animation: shapeAnimation 1.8s none;

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-4
            &.shape-4 {
                z-index: $z-2;
                left: 0;
                top: -6rem;
                animation: shapeAnimation4 2.2s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 16rem);
                }
            }


            // ELIPSIS
            &.elipsis {
                z-index: $z-0;
                top: 30%;
                animation: ellipseAnimation 5s none infinite;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    width: 150%;
                    height: auto;
                    animation: ellipseImgAnimation 5s none infinite;
                    transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
            }

            // ELIPSIS
            &.elipsis-2 {
                z-index: $z-0;
                top: -20%;
                left: 60%;
                animation: ellipseAnimation2 5s none infinite;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    width: 10%;
                    height: auto;
                    animation: ellipseImgAnimation 10s none infinite;
                    transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
            }
        }
    }

    /* SWIPER inside CTA-SECTION */
    .cta-section {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100dvh;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        z-index: $z-down;

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .swiper-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 1%;

            h1 {
                width: 50%;
                position: relative;
                color: $white;
                font-size: 4rem;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                line-height: 1.2;
                letter-spacing: 2px;
                animation: slideInLeft 1s ease;
                z-index: $z-down;

                @media screen and (max-width: 1280px) {
                    font-size: 2rem;
                }
            }

            h3 {
                width: 50%;
                position: relative;
                color: $white;
                font-weight: 500;
                font-size: 1.4rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                line-height: 1.2;
                letter-spacing: 1px;
                margin-top: 10px;
                animation: slideInRight 1s ease;

                @media screen and (max-width: 1668px) {
                    width: 40%;
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 1280px) {
                width: 40%;
                margin-left: 3%;
            }
        }
    }

}

.pt-4 {
    padding-top: 1rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}



@media screen and (max-width: 1268px) {
    .swiper-slide {
        h1 {
            font-size: 1rem;
        }

        h3 {
            font-size: 1rem;
        }
    }
}