// styles/navs.scss
@use 'variables' as *;
@use 'animations' as *;
@use 'sass:color';


.hero-section-container {
    position: relative;
    display: block;
    background: $hero-gradient;
    width: 100%;
    height: 100dvh;
    z-index: $z-1;

    .hero-section {
        position: absolute;
        width: inherit;
        height: inherit;
        pointer-events: none;
        overflow: hidden;
        z-index: $z-1;

        .shape {
            position: absolute;
            top: -3rem;
            height: inherit;
            pointer-events: none;

            // SHAPE-1
            &.shape-1 {
                z-index: $z-5;
                left: -3.5rem;
                animation: shapeAnimation 0.8s forwards;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-2
            &.shape-2 {
                z-index: $z-4;
                left: -3rem;
                animation: shapeAnimation 1.2s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-3
            &.shape-3 {
                z-index: $z-3;
                left: -3rem;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                animation: shapeAnimation 1.8s none;

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-4
            &.shape-4 {
                z-index: $z-2;
                left: 0;
                top: -6rem;
                animation: shapeAnimation4 2.2s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 16rem);
                }
            }

            // ELIPSIS
            &.elipsis {
                z-index: $z-0;
                top: 30%;
                animation: ellipseAnimation 5s none infinite;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: auto;
                    animation: ellipseImgAnimation 5s none infinite;
                    transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                    @media screen and (max-width: 1368px) {
                        animation: ellipseAnimationMedia 5s none infinite;
                    }
                }
            }

            // ELIPSIS
            &.elipsis-2 {
                z-index: $z-0;
                animation: ellipseAnimation2 5s none infinite;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: auto;
                    animation: ellipseImgAnimation 10s none infinite;
                    transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
            }

            @media screen and (max-width: 720px) {

                &.shape-1,
                &.shape-2,
                &.shape-3,
                &.shape-4 {
                    display: none;
                }

                &.elipsis {
                    opacity: 0.5;
                }

                &.elipsis2 {
                    opacity: 0.5;
                }
            }
        }
    }


    /* SWIPER inside CTA-SECTION */
    .cta-section {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100dvh;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        z-index: $z-down;

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .swiper-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 1%;
            margin-top: 5rem;
            width: 50%;

            h1 {
                position: relative;
                color: $white;
                font-size: 4rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-transform: uppercase;
                line-height: 1.2;
                letter-spacing: 2px;
                animation: slideInLeft 1s ease;
                z-index: $z-down;

                .innerHighlights {
                    display: flex;
                    color: #ffeaae;
                    text-transform: uppercase;
                    line-height: 1.2;
                    letter-spacing: 2px;
                    animation: slideInLeft 1s ease;
                }

                @media screen and (max-width: 1368px) {
                    font-size: 3.5rem;
                }
            }

            h3 {
                width: 50%;
                position: relative;
                color: $white;
                font-weight: 500;
                font-size: 1.4rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                line-height: 1.2;
                letter-spacing: 1px;
                margin-top: 10px;
                animation: slideInRight 1s ease;

                @media screen and (max-width: 1368px) {
                    width: 40%;
                    font-size: 1rem;
                }

                @media screen and (max-width: 720px) {
                    width: 100%;
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 1280px) {
                width: 40%;
                margin-left: 3%;
            }

            @media screen and (max-width: 720px) {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    // EXPERIENCE DETAILS
    .exd {
        opacity: 0;
        transition: opacity 0.8s ease, transform 0.8s ease, bottom 0.5s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: -10%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
        z-index: $z-1;
        border-radius: 0.5rem;
        background: $white;
        box-shadow:
            0 4px 30px rgba(0, 0, 0, 0.15),
            inset 0 1px 1px rgba(255, 255, 255, 0.3);

        @media screen and (max-width: 720px) {
            flex-direction: column;
            top: 145vh;
            width: 100%;

            .exd-button:hover {
                background-color: rgba($gray, 0.4);
                border-top: 1px solid rgba($gray, 0.8);
                border-bottom: 1px solid rgba($gray, 0.8);
            }

        }


        &.exd-visible {
            opacity: 1;
            bottom: -5%;
        }

        .exd-button {
            display: flex;
            flex-direction: column;
            width: auto;
            text-align: center;
            padding: 1rem;

            .outline-text {
                font-size: 5rem;
                font-weight: 800;
                color: transparent;
                -webkit-text-stroke: 1.5px #0196A7;
                line-height: 0.9;
                transition: all 0.3s ease;
            }

            .exd-title {
                font-size: 1.2rem;
                font-weight: 500;
                color: rgba($black, 0.7);
                padding-top: 2px;
                padding-bottom: 2px;
                transition: all 0.3s ease;
            }

            .exd-details {
                font-size: 0.9rem;
                color: $highDark;
                font-style: italic;
                transition: all 0.3s ease;
                padding: 1rem;

                @media screen and (min-width: 1620px) {
                    padding: 1rem;
                }
            }

            &:hover .outline-text {
                color: #0196A7;
                transition: all 0.3s ease;
            }

            &:hover .exd-title {
                color: $black;
                transition: all 0.3s ease;
            }

            &:hover .exd-details {
                color: rgba($black, 0.9);
                transition: all 0.3s ease;
            }
        }





    }
}

.pt-4 {
    padding-top: 1rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}



@media screen and (max-width: 1268px) {
    .swiper-slide {
        h1 {
            font-size: 1rem;
        }

        h3 {
            font-size: 1rem;
        }
    }
}