// styles/navs.scss
@use 'variables' as *;
@use 'animations' as *;
@use 'sass:color';


.hero-section-container {
    position: relative;
    display: block;
    background-color: $gray;
    width: 100%;
    height: 100%;

    .hero-section {
        position: absolute;
        width: inherit;
        height: 100dvh;
        background: $hero-gradient;
        overflow: hidden;
        z-index: $z-1;

        .shape {
            position: absolute;
            top: -3rem;
            height: inherit;

            // SHAPE-1
            &.shape-1 {
                z-index: $z-5;
                left: -3rem;
                animation: shapeAnimation 0.3s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-2
            &.shape-2 {
                z-index: $z-4;
                left: -3rem;
                animation: shapeAnimation 0.5s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-3
            &.shape-3 {
                z-index: $z-3;
                left: -3rem;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                animation: shapeAnimation 0.8s none;

                img {
                    height: calc(100vh + 10rem);
                }
            }

            // SHAPE-4
            &.shape-4 {
                z-index: $z-2;
                left: 0;
                top: -6rem;
                animation: shapeAnimation4 1s none;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    height: calc(100vh + 16rem);
                }
            }


            // ELIPSIS
            &.elipsis {
                z-index: $z-0;
                top: 30%;
                animation: ellipseAnimation 5s none infinite;
                transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);

                img {
                    width: 150%;
                    height: auto;
                    animation: ellipseImgAnimation 5s none infinite;
                    transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
                }
            }
        }
    }

    // RIGHT SIDE OF THE HERO SECTION
    .cta-section {
        position: absolute;
        left: 10%;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100dvh;
        width: 50%;
        margin: 0 auto;
        z-index: $z-1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h1 {
            position: relative;
            color: $white;
            font-size: 4rem;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: 2px;
        }

        h3 {
            position: relative;
            color: $white;
            font-weight: 500;
            font-size: 1.5rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            line-height: 1.2;
            letter-spacing: 1px;
        }
    }
}