// styles/main.scss
@use './variables' as *;
@use './navs' as *;
@use './animations' as *;
@use './hero-section' as *;
@use './buttons' as *;
@use './core-services' as *;
@use './footer' as *;
@use './mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
a,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
blockquote {
    font-family: "Poppins", "Hind Siliguri", sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

// HEADING BLOCK
.heading-block {
    position: relative;
    text-align: center;

    .heading-back {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -1rem;
        text-wrap: nowrap;
        @include outline-text(rgba($black, 0.1), 7rem);
        text-transform: capitalize;
    }

    h1 {
        font-size: 3rem;
        text-transform: capitalize !important;
    }
}